<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- recommended not modified but can be added ,Please contact liuhuiqing@jd.com for good advice.-->
<mapper namespace="problemMapper">
	<resultMap id="problemMap" type="wt.bs.domain.entity.ProblemEntity">
	</resultMap>
    
    <sql id="select-all-column">
		SELECT
			id AS id,
			batch_no AS batchNo,
			teacher_code AS teacherCode,
			levels AS levels,
			descs AS descs,
			answer AS answer,
			score AS score,
			part_score AS partScore,
			is_show AS isShow,
			yn AS yn,
			answered AS answered,
			sysVersion AS sysVersion,
			create_time AS createTime,
			update_time AS updateTime,
			create_user AS createUser,
			update_user AS updateUser
		FROM problem
	</sql>
	
	<sql id="where-all-condition">
		1=1
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="batchNo != null and batchNo != ''">
			and batch_no = #{batchNo,jdbcType=VARCHAR}
		</if>
		<if test="teacherCode != null and teacherCode != ''">
			and teacher_code = #{teacherCode,jdbcType=VARCHAR}
		</if>
		<if test="levels != null">
			and levels = #{levels,jdbcType=TINYINT}
		</if>
		<if test="descs != null and descs != ''">
			and descs LIKE #{descs,jdbcType=VARCHAR}
		</if>
		<if test="answer != null and answer != ''">
			and answer = #{answer,jdbcType=VARCHAR}
		</if>
		<if test="score != null">
			and score = #{score,jdbcType=BIGINT}
		</if>
		<if test="partScore != null">
			and part_score = #{partScore,jdbcType=BIGINT}
		</if>
		<if test="isShow != null">
			and is_show = #{isShow,jdbcType=BIT}
		</if>
		<if test="yn != null">
			and yn = #{yn,jdbcType=TINYINT}
		</if>
		<if test="sysVersion != null">
			and sysVersion = #{sysVersion,jdbcType=BIGINT}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="createUser != null and createUser != ''">
			and create_user = #{createUser,jdbcType=VARCHAR}
		</if>
		<if test="updateUser != null and updateUser != ''">
			and update_user = #{updateUser,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<select id="selectProblem" parameterType="wt.bs.domain.criteria.ProblemCriteria" resultMap="problemMap">
		<include refid="select-all-column"/>
		<where>
		<include refid="where-all-condition"/>
		<include refid="commonRoadMapper.sortSql"/>
		<include refid="commonRoadMapper.pagingLimit"/>
		</where>
	</select>
	
	<select id="selectOneProblem" parameterType="java.lang.Long" resultMap="problemMap">
		<include refid="select-all-column"/>
		WHERE
		id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="countProblem" parameterType="wt.bs.domain.criteria.ProblemCriteria" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM problem
		<where>
		<include refid="where-all-condition"/>
		</where>
	</select>
	
	<insert id="insertProblem" parameterType="wt.bs.domain.entity.ProblemEntity" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO problem (
	<if test="batchNo != null">
		batch_no,
	</if>
	<if test="teacherCode != null">
		teacher_code,
	</if>
	<if test="levels != null">
		levels,
	</if>
	<if test="descs != null">
		descs,
	</if>
	<if test="answer != null">
		answer,
	</if>
	<if test="score != null">
		score,
	</if>
	<if test="partScore != null">
		part_score,
	</if>
	<if test="isShow != null">
		is_show,
	</if>
	<if test="yn != null">
		yn,
	</if>
	<if test="sysVersion != null">
		sysVersion,
	</if>
	<if test="createUser != null">
		create_user,
	</if>
	<if test="updateUser != null">
		update_user,
	</if>
		create_time,
		update_time
	) VALUES (
    <if test="batchNo != null">
    	#{batchNo,jdbcType=VARCHAR},
    </if>
    <if test="teacherCode != null">
    	#{teacherCode,jdbcType=VARCHAR},
    </if>
    <if test="levels != null">
    	#{levels,jdbcType=TINYINT},
    </if>
    <if test="descs != null">
    	#{descs,jdbcType=VARCHAR},
    </if>
    <if test="answer != null">
    	#{answer,jdbcType=VARCHAR},
    </if>
    <if test="score != null">
    	#{score,jdbcType=BIGINT},
    </if>
    <if test="partScore != null">
    	#{partScore,jdbcType=BIGINT},
    </if>
    <if test="isShow != null">
    	#{isShow,jdbcType=BIT},
    </if>
    <if test="yn != null">
    	#{yn,jdbcType=TINYINT},
    </if>
    <if test="sysVersion != null">
    	#{sysVersion,jdbcType=BIGINT},
    </if>
    <if test="createUser != null">
    	#{createUser,jdbcType=VARCHAR},
    </if>
    <if test="updateUser != null">
    	#{updateUser,jdbcType=VARCHAR},
    </if>
		now(),
		now()
	)
	</insert>
	
	<insert id="insertProblemBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	<selectKey resultType="long" keyProperty="id" order="AFTER">
		SELECT
		LAST_INSERT_ID()
	</selectKey>
	INSERT INTO problem (
		batch_no,
		teacher_code,
		levels,
		descs,
		answer,
		score,
		part_score,
		is_show,
		yn,
		sysVersion,
		create_user,
		update_user,
		create_time,
		update_time
	) VALUES
	<foreach collection="list" item="item" index="index" separator=",">
    (
		#{item.batchNo,jdbcType=VARCHAR},
		#{item.teacherCode,jdbcType=VARCHAR},
		#{item.levels,jdbcType=TINYINT},
		#{item.descs,jdbcType=VARCHAR},
		#{item.answer,jdbcType=VARCHAR},
		#{item.score,jdbcType=BIGINT},
		#{item.partScore,jdbcType=BIGINT},
		#{item.isShow,jdbcType=BIT},
		#{item.yn,jdbcType=TINYINT},
		#{item.sysVersion,jdbcType=BIGINT},
		#{item.createUser,jdbcType=VARCHAR},
		#{item.updateUser,jdbcType=VARCHAR},
		now(),
		now()
			)
	</foreach>
	</insert>
	
	<update id="updateProblem" parameterType="java.util.Map">
		UPDATE problem
		<set>
    	<if test="batchNo != null">
            batch_no = #{batchNo,jdbcType=VARCHAR},
    	</if>
    	<if test="teacherCode != null">
            teacher_code = #{teacherCode,jdbcType=VARCHAR},
    	</if>
    	<if test="levels != null">
            levels = #{levels,jdbcType=TINYINT},
    	</if>
    	<if test="descs != null">
            descs = #{descs,jdbcType=VARCHAR},
    	</if>
    	<if test="answer != null">
            answer = #{answer,jdbcType=VARCHAR},
    	</if>
    	<if test="score != null">
            score = #{score,jdbcType=BIGINT},
    	</if>
    	<if test="partScore != null">
            part_score = #{partScore,jdbcType=BIGINT},
    	</if>
    	<if test="isShow != null">
            is_show = #{isShow,jdbcType=BIT},
    	</if>
    	<if test="yn != null">
            yn = #{yn,jdbcType=TINYINT},
    	</if>
		<if test="answered != null">
			answered = #{answered,jdbcType=TINYINT},
		</if>
    	<if test="sysVersion != null">
            sysVersion = #{sysVersion,jdbcType=BIGINT},
    	</if>
    	<if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
    	</if>
    	<if test="createUser != null">
            create_user = #{createUser,jdbcType=VARCHAR},
    	</if>
    	<if test="updateUser != null">
            update_user = #{updateUser,jdbcType=VARCHAR},
    	</if>
        sysVersion = sysVersion + 1,
        update_time =now()
		</set>
		WHERE 
		id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateProblemBatch"  parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		update problem 
		<set>
		<if test="item.batchNo != null">
			batch_no = #{item.batchNo,jdbcType=VARCHAR},
		</if>
		<if test="item.teacherCode != null">
			teacher_code = #{item.teacherCode,jdbcType=VARCHAR},
		</if>
		<if test="item.levels != null">
			levels = #{item.levels,jdbcType=TINYINT},
		</if>
		<if test="item.descs != null">
			descs = #{item.descs,jdbcType=VARCHAR},
		</if>
		<if test="item.answer != null">
			answer = #{item.answer,jdbcType=VARCHAR},
		</if>
		<if test="item.score != null">
			score = #{item.score,jdbcType=BIGINT},
		</if>
		<if test="item.partScore != null">
			part_score = #{item.partScore,jdbcType=BIGINT},
		</if>
		<if test="item.isShow != null">
			is_show = #{item.isShow,jdbcType=BIT},
		</if>
		<if test="item.yn != null">
			yn = #{item.yn,jdbcType=TINYINT},
		</if>
		<if test="item.answered != null">
			answered = #{item.answered,jdbcType=TINYINT},
		</if>
		<if test="item.sysVersion != null">
			sysVersion = #{item.sysVersion,jdbcType=BIGINT},
		</if>
		<if test="item.createTime != null">
			create_time = #{item.createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="item.createUser != null">
			create_user = #{item.createUser,jdbcType=VARCHAR},
		</if>
		<if test="item.updateUser != null">
			update_user = #{item.updateUser,jdbcType=VARCHAR},
		</if>
		sysVersion = sysersion + 1,
		update_time =now()
		</set>
		WHERE 
		id = #{item.id,jdbcType=BIGINT}

	</foreach>
	</update>
	
	<delete id="deleteProblem" parameterType="wt.bs.domain.criteria.ProblemCriteria">
		DELETE FROM problem
		WHERE 
		<include refid="where-all-condition"/>
	</delete>
	
	<delete id="deleteOneProblem" parameterType="java.lang.Long">
		DELETE FROM problem
		WHERE
		id = #{id,jdbcType=BIGINT}
	</delete>
</mapper>
