<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{view/common/common}">

<div class="centerView" data-type="widgets" th:fragment="content">

</div>
<div class="centerView" data-type="widgets" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">回答リスト
                            </div>

                        </div>
                        <div class="widget-body  am-fr">
                            <div class="row">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-2 am-fl">
                                    <div class="am-input-group am-datepicker-date"
                                         data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'days'}">
                                        <input id="fromDate" type="text" class="am-form-field" placeholder="起始日期" readonly>
                                        <span class="am-input-group-btn am-datepicker-add-on">
                                            <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-2 am-fl">
                                    <div class="am-input-group am-datepicker-date"
                                         data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'days'}">
                                        <input id="toDate" type="text" class="am-form-field" placeholder="终了日期" readonly>
                                        <span class="am-input-group-btn am-datepicker-add-on">
                                            <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-2 am-fl">
                                    <button type="button" class="am-btn am-btn-success" onclick="search()">
                                        <i class="am-icon-search"></i>
                                        検索
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-fl">
                                    <div class="am-form-group am-text-warning">
                                        <h5><strong>问题：</strong><span th:text="${descs}"></span></h5>
                                        <h5><strong>答案：</strong><span th:text="${answer}"></span></h5>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-2 am-fr">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <button type="button" class="am-btn am-btn-primary" onclick="showReport()">
                                                <i class="am-icon-wpforms"></i>
                                                レポートを見る
                                            </button>
                                            <input type="hidden" class="tpl-form-input" name="problemId" id="problemId"
                                                   th:value="${problemId}" hidden>
                                        </div>
                                    </div>
                                </div>
                                <table id="table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/answer.js}"></script>

    <script>
        jQuery(document).ready(function () {
            initTable();
        });
    </script>
</div>
</html>