<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{view/common/common}">

<div class="centerView" data-type="widgets" th:fragment="content">

</div>
<div class="centerView" data-type="widgets" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-title">テキストを追加する</div>
                <span class="tpl-login-content-info">
              </span>
                <form class="am-form tpl-form-line-form" id="problemFrom">
                    <input type="hidden" class="tpl-form-input" name="batchNo" id="batchNo" th:value="${batchNo}" hidden>

                    <div class="am-form-group">
                        <textarea class="" rows="12" id="descs" name="descs" placeholder="テキスト"></textarea>
                    </div>
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="score" id="score" placeholder="完全一致の点数" required>
                    </div>
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="partScore" id="partScore" placeholder="部分一致の点数" required>
                    </div>
                    <div class="am-form-group">
                        <button type="button"  onclick="addProblem()"
                                class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">保存、次の問題へ</button>
                    </div>
                    <div class="am-form-group">
                        <button type="button"  onclick="complete()"
                                class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">終わる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/problems.js}"></script>

    <script>
        jQuery(document).ready(function() {
            initTable();
        });
    </script>
</div>
</html>